body {
  background:#FFC0CB;
}
#wrap {
  width:700px;
  margin:0px auto 15px auto;
  font-family:Georgia;
  font-size:14px;
  color:#000000;
}

/*Header*/

#header {
	height:242px;
	background:url("https://github.com/kultaify/WebpageProject/blob/master/Images/cherrytree.jpg?raw=true") no-repeat left top;
	clear: both;
}

/*Header menu*/
#topmenu {
  display:inline-block;
  list-style:none;
  padding:0px 0px 0px 278px;
  float: left;
  width: 685px;
  background-color:white;
  position:fixed;
}

#topmenu li {
  display:inline;
}

#topmenu a {
  display:block;
  float:left;
  height:28px;
  margin:0px 0px 0px 0px;
  text-decoration:none;
  padding:5px 10px;
  text-align:left;
}

#topmenu a, #topmenu a:visited, #topmenu a:active {
  color:#000000;
}

#topmenu a:hover{
  color:#000000;
  background-color: #FF69B4;
}

#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active{
  color:#000000;
  background-color:#FF69B4;
}

/*Content*/
#content {
	background-color: #FFC0CB;
}
#mainpage {
	width:700px;
	float:left;
	padding:5px 5px 5px 0px;
	height:auto
}
#mainpage p {
	line-height:22px;
	margin:10px 0px 22px 0px;
	text-align: justify;
}
#mainpage blockquote {
	background:#efefef;
	display:block; 
	margin:5px;
	font:Georgia; 
	font-style:italic;}
h1, h2, h3, h4, h5 {
	color:#000000;
	font-weight:bold;
	font-family: Georgia;
}
#mainpage h1 {
	font-size:24px;
}
#mainpage h2 {
	font-size:18px;
	padding-top: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid #B52E10;
}
#mainpage h3 {
	font-size:20px;}
#mainpage h4 {
	font-size:18px;}
#mainpage h5 {
	font-size:16px;}

.map-cont {
	width: 400px;
	height: 400px;
	margin: 10px auto 0px;
}

/*footer*/
#footer {
	margin:0 auto;
	width:685px;
	height:20px;
	padding:10px;
	color:#000000;
	text-align: center;
	background:#FFFFFF;
	font-family: Georgia;
	font-size: 11px;
	clear: both;
}

#topbar{
	height:78px;
}

table {
border-spacing: 5px;
}

table, th, td {
border:1px double red;
padding: 15px;	
}
th {
text-align: left;
}

table#t1 {
width: 75%;
background-color: #FFFFFF;
border: 1px;
}

